*{
  box-sizing: border-box;
  image-rendering: -webkit-optimize-contrast;
}

html {
  /* 스크롤 이동을 부드럽게 */
  scroll-behavior: smooth;
}
body{
  font-family: "Noto Sans KR", sans-serif;
  
  

}
.special-gothic-expanded-one-regular a{
  transition: 0.5s;
}
/* 상단 버튼 눌렀을때 효과주기 */
.special-gothic-expanded-one-regular a:hover{
  color: teal;
}

img{
  /* 이미지가 인라인 요소라서 발생하는 문자 기준선(baseline) 아래의 공간을 제거하기 위해 */
  display: block;
}

.special-gothic-expanded-one-regular {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.Han-Sans-Neo{
  font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
}
.black-han-sans-regular {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.slogun{
  letter-spacing: 5px;  
}

header > .inner {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo image {
  width: 40px;
}
header nav ul {
  display: flex;
}
header nav ul li {
  padding: 10px 20px;
  font-weight: 700;
}
header nav ul li a {
  position: relative;
}
/* 가상 선택자로 밑줄생기게 하기 */
header nav ul li a::after{
  content: "";
  display: block;
  width: 0; /* 초기에는 밑줄이 없도록 0으로 설정 */
  height: 3px;
  background-color: sienna;
  /* position: absolute;
  bottom: -2px;
  left: 0; */
  transition: width 0.5s; 
}
header nav ul li a:hover::after {
  width: 100%;
}
header{
/* background-color: #fff; */
  border-bottom: 1px solid #c8c8c8;
  box-shadow: 0 2px 8px rgba(204, 204, 204, .9);
  background-color: rgba(204, 204, 204, .9);
  
  /* 고정된 헤더 만들기 */
  /* fixed가 되면 width의 기준이 부모 요소가 아니라 뷰포트가 되면서 기준이 끊겨버리고, 내용에 맞춰 최소한으로 축소됨 */
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}
header .btn-hamburger {
  display: none;
}
header .btn-hamburger .material-symbols-outlined {
  font-size: 40px;
  /* 수직 정렬 맞추기 */
  display: block;
  /* line-height: 60px; */
}
a {
  text-decoration: none;
  color: inherit;
}
.visual{

  /* margin-top: 60px; */
  width: 100%;
  /* background-color: #808080; */
  position: relative;
  
}
.visual video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -10;
  position: fixed;
}
.visual > .inner{
  height: 100vh;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  flex-direction: column;
  

  
}

#green{
  color: mediumseagreen;
  display: inline;
}

.title{
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
}
.title::after{
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background-color: #333;
  margin: 24px auto 0;
  /* TODO ::after 주는법 */
}

/* ABOUT */


.about{
  width: 100%;
  position: relative;
}
.about__img{
  transition: 1s;
  overflow: hidden;
}
.about__img:hover{
  transform: scale(1.4);
  /* overflow: hidden; */
}
.about video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -10;
  position: absolute;
}
.about .about__wrapper{
  display: flex;
  justify-content: center;
  
}
.about .about__wrapper .about__img{
  width: 40%;
  margin-bottom: 120px;
}
.about .about__wrapper .about__img img{
  max-width: 100%;
  width: 50%;
  border-radius: 50%;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);

}
.about .about__wrapper .about__text{
  width: 40%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}
.about .about__wrapper .about__text .slogun{
  font-size: 50px;
  font-weight: bold;
}
.about .title {
  padding: 50px;
}
.about .about__wrapper .about__text h3{
  font-size: 20px;
  font-weight: 600;
}
.about .about__wrapper .about__text h4{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}
.about .about__wrapper .about__text li{
  line-height: 1.8;
}
.about .about__wrapper .about__text ul:nth-child(2){
  margin-bottom: 120px;
}
.about .about__btn{
  position: absolute;
  bottom: -30px;
  right: 30px;
}
/* SKILL */

.skill > .inner{
  position: relative;
  background-color: wheat;
  padding: 50px 0 300px;
  
  
}
.skill_list img:hover{
  transform: scale(1.2,1.2); transition-duration: 0.5s;
}
.skill_list img{
  transition: 1s;
}

.skill_list .black-han-sans-regular {
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
}
.skill h2{
  padding: 20px 0 20px;
}
.skill > .inner > .skill_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
      
  transform: translateY(100px);
  opacity: 0;
  transition: 1s;
}
.skill_list > li:nth-child(1) img{
  margin-bottom: 20px;
}
.skill_list > li:nth-child(2) img{
  padding-top: 30px;
  margin-left: 30px;
}

.skill.show .skill_list{
  /* 방법1: position */
  /* top: 0; */
  transform: translateY(0px);
  opacity: 1;
  }
.skillfont{
  margin-top: 30px;
  font-size: 30px;
}


/* PROJECT */
.project img{
  width: 600px;
  height: 500px;
  padding-top: 30px;
}
.project img:hover{
  transform: scale(1.4 1.4); transition-duration: 0.5s;
}
.project span{
  color: black;
  font-size: 40px;
  display: flex;
  justify-content: center;
}
.project .inner{
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
}
/* 오버워치 사라졌다 생기는 기능 */
.overwatch{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 50px;
}


.login{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.overwatch img:nth-child(1){
  transform: translateX(-100px);
  opacity: 0;
  transition: 1s;
}
.project span{
  transform: translateY(100px);
  opacity: 0;
  transition: 1s;
  margin-top: 20px;
  
}
.overwatch img:nth-child(2){
  transform: translateX(100px);
  opacity: 0;
  transition: 1s;
}
.overwatch img.show:nth-child(1){
  transform: translateX(0);
  opacity: 1;
}
.overwatch img.show:nth-child(2){
  transform: translateX(0);
  opacity: 1;
}
.project span.show{
  transform: translateY(0);
  opacity: 1;
}
/* 로그인 Ui 프로젝트 설명 사라졌다 생기는 기능 */

.login img:nth-child(1){
  transform: translateX(-100px);
  opacity: 0;
  transition: 1s;
}
.login img:nth-child(2){
  transform: translateY(100px);
  opacity: 0;
  transition: 1s;
}
.login img:nth-child(3){
  transform: translateX(100px);
  opacity: 0;
  transition: 1s;
}
.login span{
  transform: translateY(100px);
  opacity: 0;
  transition: 1s;
}
.login img.show:nth-child(1){
  transform: translateX(0);
  opacity: 1;
}
.login img.show:nth-child(2){
  transform: translateY(0);
  opacity: 1;
}
.login img.show:nth-child(3){
  transform: translateX(0);
  opacity: 1;
}
.login span.show{
  transform: translateY(0);
  opacity: 1;
}
.login{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* CONTACT */
.contact {
  padding: 200px 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.contact .contact__info li {
  line-height: 2;
  text-align: center;
  transition: 1s;
}
/* 애니메이션 효과 추가 */
.contact .contact__info li:nth-child(1), 
.contact .contact__info li:nth-child(3) {
  /* 오른쪽에서 왼쪽으로 나타나는 */
  transform: translateX(150px);
  opacity: 0;
}
.contact .contact__info li:nth-child(2){
  /* 왼쪽에서 오른쪽으로 나타나는 */
  transform: translateX(-150px);
  opacity: 0;
}
.contact.show .contact__info li{
  transform: translateX(0);
  opacity: 1;
}
.contact .contact__sns {
  margin-top: 40px;
}
.contact__sns img{
  height: 60px;
}

.contact .contact__sns ul {
  display: flex;
  justify-content: center;
  column-gap: 10px;

}
/* 반응형 애니메이션 추가 */
@media screen and (max-width: 767px){
  header .btn-hamburger{
    display: block;
  }
  header nav {
    background-color: peachpuff;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    /* height: 100%; */
    height: 0;
    transition: 0.3s;
    overflow: hidden;    
  }
  header nav.active {
    height: 100%;
    opacity: 1;
  }
  header nav ul {
    /* ul 태그를 원래 특성인 블록으로 원복 */
    display: block;
    padding-top: 60px;
    
  }
  header nav ul li {
    padding: 10px 80px;
    font-size: 30px;
  }
  header nav ul li a {
    transition: 0.5s;
  }
  header nav ul li a:hover {
    letter-spacing: 10px;
  }
  header nav.active{
    height: 100%;
  }
  


  /* 모바일에서는 화면의 80%만 차지하도록 */
  .about .about__wrapper{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about .about__wrapper .about__img{
    width: 50%;
    margin-bottom: 60px;
  }
  .about .slogun {
    margin-bottom: 30px;
  }
  .about .about__wrapper img{
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .about .about__wrapper .about__text{
    width: 100%;
  }
  .overwatch img{
    width: 100%;
  }
  .login .scroll-spy{
    width: 100%;
  }
  .skill_list{
    margin-bottom: -200px;
  }
  }

/* 애니메이션 효과 추가 */
.contact .contact__sns ul li{
  transform: translateY(100px);
  opacity: 0;
  transition: 1s;  
}
.contact.show .contact__sns ul li{
  transform: translateY(0);
  opacity: 1;
}
.contact.show .contact__sns ul li:nth-child(1) {
transition-delay: 0.2s; }
.contact.show .contact__sns ul li:nth-child(2) {
transition-delay: 0.4s; }
.contact .contact__sns ul li img {
  width: 60px;
}

#to-top {
  width: 42px;
  height: 42px;
  background-color: yellowgreen;
  border: 2px solid #333;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  transition: 0.5s;
  /* 처음 상태는 투명에 x축으로 +100px 지점 */
  opacity: 0;
  transform: translateX(100px);
}



/* FOOTER */
footer{
  background-color: #000;
  color: #fff;
}
footer .copylight {
  text-align: center;
  font-weight: 600px;
  line-height: 200px;
}

